SignalRTest.EventProducer.WinUI/Service References/ServiceReference1/NotificationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6412/SignalRTest/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StreamInsight.Samples.Adapters.Wcf" />
  <xs:element name="PublishEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StreamInsight.Samples.Adapters.Wcf" minOccurs="0" name="result" type="q1:WcfPointEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StreamInsight.Samples.Adapters.Wcf" minOccurs="0" name="PublishEventResult" type="q2:ResultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>